<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 3+4+4 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum corporis
      aliquam fugit! Quisquam quis commodi ut veritatis eum perspiciatis
      assumenda excepturi soluta saepe, voluptas blanditiis. Magnam explicabo
      eos mollitia laudantium?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolorum
      illo placeat ullam eligendi omnis deserunt quibusdam excepturi doloribus
      voluptatibus suscipit, consequatur cupiditate facilis tenetur. Optio
      placeat natus soluta alias!
    </p>
  </body>
</html>
